{% extends "layouts/base.html" %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Course/</span> Add</h4>
    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Add Course</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url "add_course" %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="name">Course Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter Course Name">
                        </div>
                        <div class="mb-3">
                            <label for="tutor" class="form-label">Tutor</label>
                            <select class="form-select" id="tutor" aria-label="Select Tutor" name="tutor">
                                {% for tutor in users %}
                                <option value="{{ tutor.id }}">{{ tutor.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Image</label>
                            <input name="image" class="form-control" type="file" id="image">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea id="description" class="form-control" name="description" rows="10"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price">Price</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" name="price" placeholder="Price" aria-label="Price (to the nearest dollar)">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <select class="form-select" id="status" aria-label="Select Blog Status" name="status">
                                <option value="1" selected="">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}